{% extends "layout.html" %}
{% block content %}
  <div class="card">
    <h1>道具商店</h1>
    <table>
      <tr><th>商品</th><th>價格</th><th>描述</th></tr>
      {% for item, info in shop_items.items() %}
      <tr>
        <td>{{ info[2] }} {{ item }}</td>
        <td>{{ info[0] }} 元</td>
        <td>{{ info[1] }}</td>
      </tr>
      {% endfor %}
    </table>
    <form method="post" action="{{ url_for('buy') }}">
      <label for="item_name">選擇道具</label>
      <select id="item_name" name="item_name">
        {% for item in shop_items.keys() %}
          <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
      <label for="quantity">購買數量</label>
      <input id="quantity" name="quantity" type="number" min="1" value="1" required />
      <input class="button" type="submit" value="購買" />
    </form>
    <a class="button" href="{{ url_for('dashboard') }}">回到控制台</a>
  </div>
{% endblock %}
